@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
/* } */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Home */
.container {
  display: flex;
  min-width: 100% !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background: linear-gradient(80deg, #C4AD94, #5C453B);
  text-align: center;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 40px;
}

.form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.input,
.textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.textarea {
  height: 100px;
  resize: none;
}

.button {
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  background-color: #a5bfdd;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #328ae1;
}

.message {
  margin-top: 20px;
  color: green;
  font-weight: bold;
}
